.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-top: 92px;
  padding-bottom: 96px;
  padding-left: 50px;
  padding-right: 50px;
}

.header__menu {
  /* контейнер навигации */
  display: flex;
  width: 100%;
}

.header__links-list {
  /* cписок ссылок */
  gap: 33px;
  font-family: Raleway;
  justify-content: space-between;
  list-style: circle;
  display: flex;
}

.header__links-list-item {
  justify-content: start;
  font-size: 18px;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: block;
  align-items: center;
  justify-items: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  justify-self: end;
  font-style: normal;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  padding-right: 35px;
  width: 240;
  height: 98;
  top: 95px;
  left: 810px;
  border-width: 1px;
}

.header__address {
  color: black;
  text-decoration: none;
  font-style: 0;
}

.cover {
  position: relative;
  background: url("/ono-tebe-nado-fd/images/cover.jpg") center/cover no-repeat;
  padding: 165px 50px 50px 50px;
  color: white;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 30px;
  line-height: 115%;
}

.aligned-text {
  display: block;
  justify-content: space-between;
}

.aligned-text_center {
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  line-height: 155%;
  padding-left: 30px;
}

.aligned-text_right {
  text-align: right;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  text-transform: uppercase;
  padding-left: 614px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  padding-top: 106px;
}

.cover__description-text {
  position: relative;
  z-index: 2;
  display: flex;
  font-size: 22px;
  font-style: normal;
  word-spacing: 19px;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: 30%;
}

.bet-button {
  position: relative;
  z-index: 2;
  border: 2px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  align-items: center;
  font-family: Raleway;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-transform: uppercase;
  width: 257px;
  height: 51px;
  padding-left: 30px;
  padding-right: 30px;
}

.lots {
  padding-top: 185px;
  padding-right: 24px;
  padding-bottom: 120px;
  padding-left: 24px;
}

.lots__heading {
  padding-left: 40px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.lots__card-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  padding-top: 27px;
  padding-bottom: 30px;
}

.lots__card-list-item {
  width: 334px;
  height: 596px;
}

.card-link {
  text-decoration: none;
  color: inherit;
  height: 100%;
  display: block;
}

.card {
  position: relative;
  height: 100%;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
}

.card__title {
  position: relative;
  z-index: 1;
  text-decoration: underline;
  font-size: 22px;
  color: white;
  font-family: Raleway;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration-style: solid;
}

.card__text {
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: white;
  position: relative;
  z-index: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  padding-left: 40px;
  padding-top: 30px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-underline-offset: 4px;
  justify-content: space-between;
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  background-color: #fff;
  padding: 1px 24px 0px 24px;
}

.about__column-logo {
  grid-column: span 1;
  padding-left: 47px;
  padding-top: 35px;
}

.about__column-text {
  grid-column: span 2;
  padding-top: 140px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;

  padding-top: 103px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  gap: 24px;
  text-align: left;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  color: #000;
  padding-left: 50px;
  padding-bottom: 82px;
  padding-right: 50px;
  padding-top: 180px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
  justify-content: space-between;
}

.footer__address {
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  font-style: normal;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
}

.footer__menu-list,
.footer__social-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0%;
  text-align: center;
  color: black;
  line-height: 21px;
  font-style: normal;
  justify-content: center;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 48px;
  align-items: start;
}

.footer__menu-link_active {
  text-decoration: none;
  font-style: 0;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  border-width: 1px;
}
